*~
aclocal.m4
.autotools
azprocci/Makefile.in
azprocci/src/azprocci
azprocci/src/Makefile.in
*.bak
broker/Makefile.in
broker/src/broker
broker/src/Makefile.in
build-stamp
*.cache
cnprocci/Makefile.in
cnprocci/src/Makefile.in
cnprocci/src/cnprocci
coeasy/src/coeasy
coees/src/coees
coes/Makefile.in
coes/src/coes
coes/src/Makefile.in
coips/src/coips
command/src/command
command/src/Makefile.in
comons/Makefile.in
comons/src/comons
comons/src/Makefile.in
conagios/Makefile.in
conagios/src/conagios
conagios/src/Makefile.in
conets/Makefile.in
conets/src/conets
conets/src/Makefile.in
config.guess
config.sub
configure
coobas/Makefile.in
coobas/src/coobas
coobas/src/Makefile.in
cool/src/cool
copaas/src/copaas
cops/src/cops
cosacs/src/cosacs
cosched/src/cosched
coss/src/coss
dcprocci/src/dcprocci
debian/compatibleone/
debian/compatibleone-accords/
debian/python-compatibleone-accords/
debian/compatibleone-accords-doc/
debian/compatibleone-accords-dev/
debian/compatibleone-accords-testsuite/
debian/compatibleone-azprocci/
debian/compatibleone-broker/
debian/compatibleone-coeasy/
debian/compatibleone-coees/
debian/compatibleone-coips/
debian/compatibleone-comons/
debian/compatibleone-conets/
debian/compatibleone-coobas/
debian/compatibleone-cool/
debian/compatibleone-copaas/
debian/compatibleone-cops/
debian/compatibleone-cosacs/
debian/compatibleone-cosched/
debian/compatibleone-coss/
debian/compatibleone-dashboard/
debian/compatibleone-cnprocci/
debian/compatibleone-dcprocci/
debian/compatibleone-ec2procci/
debian/compatibleone-example/
debian/compatibleone-eziprocci/
debian/compatibleone-ezvm/
debian/compatibleone-fileserver/
debian/compatibleone-jpaasprocci/
debian/compatibleone-nagios/
debian/compatibleone-onprocci/
debian/compatibleone-osocciprocci/
debian/compatibleone-osprocci/
debian/compatibleone-paprocci/
debian/compatibleone-parser/
debian/compatibleone-procci/
debian/compatibleone-paasprocci/
debian/compatibleone-publisher/
debian/compatibleone-slam/
debian/compatibleone-testosocci/
debian/libcocarrier-dev/
debian/libcocarrier0/
debian/libcocci-dev/
debian/libcocci0/
debian/libcocspi-dev/
debian/libcocspi0/
debian/libcopabr-dev/
debian/libcopabr0/
debian/libcords-dev/
debian/libcords0/
debian/libcorest-dev/
debian/libcorest0/
debian/libcoxml-dev/
debian/libcoxml0/
debian/libocci-dev/
debian/libocci0/
debian/libpubocci-dev/
debian/libpubocci0/
debian/cosacs/
debian/compatibleone-base/
debian/files
debian/*.log
debian/*.shlibs
debian/*.substvars
debian/*.debhelper
debian/tmp/
debian/lintianreport.txt
depcomp
.deps
example/src/example
eziprocci/Makefile.in
eziprocci/src/Makefile.in
eziprocci/src/eziprocci
ezvm/src/ezvm
fileserver/Makefile.in
fileserver/src/fileserver
fileserver/src/Makefile.in
install-sh
jpaasprocci/src/jpaasprocci
*.la
.libs
libtool
*.lo
*.log
*.loT
ltmain.sh
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
Makefile
Makefile
Makefile.in
missing
*.o
onprocci/Makefile.in
onprocci/src/Makefile.in
onprocci/src/onprocci
osocciprocci/src/osocciprocci
osprocci/Makefile.in
osprocci/src/Makefile.in
osprocci/src/osprocci
paprocci/src/paprocci
parser/Makefile.in
parser/src/Makefile.in
parser/src/parser
procci/Makefile.in
procci/src/Makefile.in
procci/src/procci
product/
publisher/Makefile.in
publisher/src/Makefile.in
publisher/src/publisher
pyaccords/pysrc/pypacksrc/pypacksrc.py
pyaccords/pysrc/pypath.h
jaccords/jsrc/jpath.h
*.scan
scripts/accords
scripts/accords-config
scripts/accords.xml
scripts/co-broker
scripts/co-check
scripts/co-command
scripts/co-parser
scripts/co-resolver
scripts/co-start
scripts/co-status
scripts/co-stop
scripts/run-*
slam/src/slam
*.status
testaz/Makefile.in
testaz/src/Makefile.in
testaz/src/testaz
testcb/Makefile.in
testcb/src/Makefile.in
testcb/src/testcb
testcp/Makefile.in
testcp/src/Makefile.in
testcp/src/testcp
testcn/Makefile.in
testcn/src/Makefile.in
testcn/src/testcn
testdc/src/testdc
testhdfs/src/testhdfs
testhdfs/src/Makefile.in
testhdfs/Makefile.in
teston/Makefile.in
teston/src/Makefile.in
teston/src/teston
testos/Makefile.in
testosocci/src/testosocci
testos/src/Makefile.in
testos/src/testos
testpa/src/testpa
testresolver/Makefile.in
testresolver/src/Makefile.in
testresolver/src/testresolver
*.tgz
paprocci/java/libs/*.jar
testsuite/*.pyc
tools/codegen/*.pyc
tools/codegen/OCCI/*.pyc
tools/codegen/OCCI/test/*.pyc
tools/codegen/system_test/*.pyc
tools/codegen/codegen_types/*.pyc
tools/codegen/codegen_types/test/*.pyc
python/*.pyc
python/parsing/*.pyc
python/test/*.pyc
paasprocci/src/paasprocci
pyaccords/pysrc/pypacksrc/build/
pyaccordsSDK/pycompdev/build/
pyaccordsSDK/pycompmanager/build/
build
.cproject
.project
.pydevproject
.settings
azprocci/azprocci
azprocci/occiwindowsazure.c
azprocci/windowsazure.c
azprocci/windowsazure.h
azprocci/windowsazure.xsd
azprocci/windowsazure_occi_filter.h
broker/broker
cnprocci/cnconfig.c
cnprocci/cnconfig.h
cnprocci/cnconfig.xsd
cnprocci/cnconfig_occi_filter.h
cnprocci/cnprocci
cnprocci/computenext.c
cnprocci/computenext.h
cnprocci/computenext.xsd
cnprocci/computenext_occi_filter.h
cnprocci/occicnconfig.c
cnprocci/occicomputenext.c
co-log
cocci/authitem.c
cocci/authitem.h
cocci/authitem.xsd
cocci/authitem_occi_filter.h
cocci/occiauthitem.c
coeasy/coeasy
coeasy/easiclouds_application.c
coeasy/easiclouds_application.h
coeasy/easiclouds_application.xsd
coeasy/easiclouds_application_occi_filter.h
coeasy/easiclouds_connection.c
coeasy/easiclouds_connection.h
coeasy/easiclouds_connection.xsd
coeasy/easiclouds_connection_occi_filter.h
coeasy/easiclouds_description.c
coeasy/easiclouds_description.h
coeasy/easiclouds_description.xsd
coeasy/easiclouds_description_occi_filter.h
coeasy/easiclouds_extra.c
coeasy/easiclouds_extra.h
coeasy/easiclouds_extra.xsd
coeasy/easiclouds_extra_occi_filter.h
coeasy/easiclouds_input.c
coeasy/easiclouds_input.h
coeasy/easiclouds_input.xsd
coeasy/easiclouds_input_occi_filter.h
coeasy/easiclouds_instance.c
coeasy/easiclouds_instance.h
coeasy/easiclouds_instance.xsd
coeasy/easiclouds_instance_occi_filter.h
coeasy/easiclouds_keypair.c
coeasy/easiclouds_keypair.h
coeasy/easiclouds_keypair.xsd
coeasy/easiclouds_keypair_occi_filter.h
coeasy/easiclouds_link.c
coeasy/easiclouds_link.h
coeasy/easiclouds_link.xsd
coeasy/easiclouds_link_occi_filter.h
coeasy/easiclouds_metadata.c
coeasy/easiclouds_metadata.h
coeasy/easiclouds_metadata.xsd
coeasy/easiclouds_metadata_occi_filter.h
coeasy/easiclouds_model.c
coeasy/easiclouds_model.h
coeasy/easiclouds_model.xsd
coeasy/easiclouds_model_occi_filter.h
coeasy/easiclouds_node.c
coeasy/easiclouds_node.h
coeasy/easiclouds_node.xsd
coeasy/easiclouds_node_occi_filter.h
coeasy/easiclouds_output.c
coeasy/easiclouds_output.h
coeasy/easiclouds_output.xsd
coeasy/easiclouds_output_occi_filter.h
coeasy/easiclouds_parameters.c
coeasy/easiclouds_parameters.h
coeasy/easiclouds_parameters.xsd
coeasy/easiclouds_parameters_occi_filter.h
coeasy/easiclouds_postconf.c
coeasy/easiclouds_postconf.h
coeasy/easiclouds_postconf.xsd
coeasy/easiclouds_postconf_occi_filter.h
coeasy/easiclouds_server.c
coeasy/easiclouds_server.h
coeasy/easiclouds_server.xsd
coeasy/easiclouds_server_occi_filter.h
coeasy/occieasiclouds_application.c
coeasy/occieasiclouds_connection.c
coeasy/occieasiclouds_description.c
coeasy/occieasiclouds_extra.c
coeasy/occieasiclouds_input.c
coeasy/occieasiclouds_instance.c
coeasy/occieasiclouds_keypair.c
coeasy/occieasiclouds_link.c
coeasy/occieasiclouds_metadata.c
coeasy/occieasiclouds_model.c
coeasy/occieasiclouds_node.c
coeasy/occieasiclouds_output.c
coeasy/occieasiclouds_parameters.c
coeasy/occieasiclouds_postconf.c
coeasy/occieasiclouds_server.c
coees/coees
coips/coips
coips/occisaas.c
coips/saas.c
coips/saas.h
coips/saas.xsd
coips/saas_occi_filter.h
command/command
comodel/comodel
comons/comons
compile
conagios/conagios
conagios/nagioscommand.c
conagios/nagioscommand.h
conagios/nagioscommand.xsd
conagios/nagioscommand_occi_filter.h
conagios/nagioscontact.c
conagios/nagioscontact.h
conagios/nagioscontact.xsd
conagios/nagioscontact_occi_filter.h
conagios/nagioscontactgroup.c
conagios/nagioscontactgroup.h
conagios/nagioscontactgroup.xsd
conagios/nagioscontactgroup_occi_filter.h
conagios/nagioshost.c
conagios/nagioshost.h
conagios/nagioshost.xsd
conagios/nagioshost_occi_filter.h
conagios/nagioshostdependancy.c
conagios/nagioshostdependancy.h
conagios/nagioshostdependancy.xsd
conagios/nagioshostdependancy_occi_filter.h
conagios/nagioshostescalation.c
conagios/nagioshostescalation.h
conagios/nagioshostescalation.xsd
conagios/nagioshostescalation_occi_filter.h
conagios/nagioshostextinfo.c
conagios/nagioshostextinfo.h
conagios/nagioshostextinfo.xsd
conagios/nagioshostextinfo_occi_filter.h
conagios/nagioshostgroup.c
conagios/nagioshostgroup.h
conagios/nagioshostgroup.xsd
conagios/nagioshostgroup_occi_filter.h
conagios/nagiosservice.c
conagios/nagiosservice.h
conagios/nagiosservice.xsd
conagios/nagiosservice_occi_filter.h
conagios/nagiosservicedependancy.c
conagios/nagiosservicedependancy.h
conagios/nagiosservicedependancy.xsd
conagios/nagiosservicedependancy_occi_filter.h
conagios/nagiosserviceescalation.c
conagios/nagiosserviceescalation.h
conagios/nagiosserviceescalation.xsd
conagios/nagiosserviceescalation_occi_filter.h
conagios/nagiosserviceextinfo.c
conagios/nagiosserviceextinfo.h
conagios/nagiosserviceextinfo.xsd
conagios/nagiosserviceextinfo_occi_filter.h
conagios/nagiosservicegroup.c
conagios/nagiosservicegroup.h
conagios/nagiosservicegroup.xsd
conagios/nagiosservicegroup_occi_filter.h
conagios/nagiostimeperiod.c
conagios/nagiostimeperiod.h
conagios/nagiostimeperiod.xsd
conagios/nagiostimeperiod_occi_filter.h
conagios/occinagioscommand.c
conagios/occinagioscontact.c
conagios/occinagioscontactgroup.c
conagios/occinagioshost.c
conagios/occinagioshostdependancy.c
conagios/occinagioshostescalation.c
conagios/occinagioshostextinfo.c
conagios/occinagioshostgroup.c
conagios/occinagiosservice.c
conagios/occinagiosservicedependancy.c
conagios/occinagiosserviceescalation.c
conagios/occinagiosserviceextinfo.c
conagios/occinagiosservicegroup.c
conagios/occinagiostimeperiod.c
conets/conets
coobas/coobas
cool/cool
cool/job.c
cool/job.h
cool/job.xsd
cool/job_occi_filter.h
cool/occijob.c
cool/occiworkload.c
cool/workload.c
cool/workload.h
cool/workload.xsd
cool/workload_occi_filter.h
copaas/copaas
copaas/occipaas_application.c
copaas/occipaas_application_deployable.c
copaas/occipaas_application_manifest.c
copaas/occipaas_application_version.c
copaas/occipaas_application_version_instance.c
copaas/occipaas_environment.c
copaas/occipaas_environment_configuration.c
copaas/occipaas_environment_link.c
copaas/occipaas_environment_node.c
copaas/occipaas_environment_relation.c
copaas/occipaas_environment_template.c
copaas/occipaas_environment_variable.c
copaas/paas_application.c
copaas/paas_application.h
copaas/paas_application.xsd
copaas/paas_application_deployable.c
copaas/paas_application_deployable.h
copaas/paas_application_deployable.xsd
copaas/paas_application_deployable_occi_filter.h
copaas/paas_application_manifest.c
copaas/paas_application_manifest.h
copaas/paas_application_manifest.xsd
copaas/paas_application_manifest_occi_filter.h
copaas/paas_application_occi_filter.h
copaas/paas_application_version.c
copaas/paas_application_version.h
copaas/paas_application_version.xsd
copaas/paas_application_version_instance.c
copaas/paas_application_version_instance.h
copaas/paas_application_version_instance.xsd
copaas/paas_application_version_instance_occi_filter.h
copaas/paas_application_version_occi_filter.h
copaas/paas_environment.c
copaas/paas_environment.h
copaas/paas_environment.xsd
copaas/paas_environment_configuration.c
copaas/paas_environment_configuration.h
copaas/paas_environment_configuration.xsd
copaas/paas_environment_configuration_occi_filter.h
copaas/paas_environment_link.c
copaas/paas_environment_link.h
copaas/paas_environment_link.xsd
copaas/paas_environment_link_occi_filter.h
copaas/paas_environment_node.c
copaas/paas_environment_node.h
copaas/paas_environment_node.xsd
copaas/paas_environment_node_occi_filter.h
copaas/paas_environment_occi_filter.h
copaas/paas_environment_relation.c
copaas/paas_environment_relation.h
copaas/paas_environment_relation.xsd
copaas/paas_environment_relation_occi_filter.h
copaas/paas_environment_template.c
copaas/paas_environment_template.h
copaas/paas_environment_template.xsd
copaas/paas_environment_template_occi_filter.h
copaas/paas_environment_variable.c
copaas/paas_environment_variable.h
copaas/paas_environment_variable.xsd
copaas/paas_environment_variable_occi_filter.h
cops/cops
cops/federation.c
cops/federation.h
cops/federation.xsd
cops/federation_occi_filter.h
cops/occifederation.c
cops/occiquantity.c
cops/quantity.c
cops/quantity.h
cops/quantity.xsd
cops/quantity_occi_filter.h
cords/account.c
cords/account.h
cords/account.xsd
cords/account_occi_filter.h
cords/action.c
cords/action.h
cords/action.xsd
cords/action_occi_filter.h
cords/agency.c
cords/agency.h
cords/agency.xsd
cords/agency_occi_filter.h
cords/agreement.c
cords/agreement.h
cords/agreement.xsd
cords/agreement_occi_filter.h
cords/alert.c
cords/alert.h
cords/alert.xsd
cords/alert_occi_filter.h
cords/algorithm.c
cords/algorithm.h
cords/algorithm.xsd
cords/algorithm_occi_filter.h
cords/amazonEc2.c
cords/amazonEc2.h
cords/amazonEc2.xsd
cords/amazonEc2_occi_filter.h
cords/appliance.c
cords/appliance.h
cords/appliance.xsd
cords/appliance_occi_filter.h
cords/application.c
cords/application.h
cords/application.xsd
cords/application_occi_filter.h
cords/authorise.c
cords/authorise.h
cords/authorise.xsd
cords/authorise_occi_filter.h
cords/azconfig.c
cords/azconfig.h
cords/azconfig.xsd
cords/azconfig_occi_filter.h
cords/business.c
cords/business.h
cords/business.xsd
cords/business_occi_filter.h
cords/carrier.c
cords/carrier.h
cords/carrier.xsd
cords/carrier_occi_filter.h
cords/compute.c
cords/compute.h
cords/compute.xsd
cords/compute_occi_filter.h
cords/configuration.c
cords/configuration.h
cords/configuration.xsd
cords/configuration_occi_filter.h
cords/connection.c
cords/connection.h
cords/connection.xsd
cords/connection_occi_filter.h
cords/constraint.c
cords/constraint.h
cords/constraint.xsd
cords/constraint_occi_filter.h
cords/consumer.c
cords/consumer.h
cords/consumer.xsd
cords/consumer_occi_filter.h
cords/contract.c
cords/contract.h
cords/contract.xsd
cords/contract_occi_filter.h
cords/control.c
cords/control.h
cords/control.xsd
cords/control_occi_filter.h
cords/deltacloud.c
cords/deltacloud.h
cords/deltacloud.xsd
cords/deltacloud_occi_filter.h
cords/domain.c
cords/domain.h
cords/domain.xsd
cords/domain_occi_filter.h
cords/ec2config.c
cords/ec2config.h
cords/ec2config.xsd
cords/ec2config_occi_filter.h
cords/enquiry.c
cords/enquiry.h
cords/enquiry.xsd
cords/enquiry_occi_filter.h
cords/event.c
cords/event.h
cords/event.xsd
cords/event_occi_filter.h
cords/file.c
cords/file.h
cords/file.xsd
cords/file_occi_filter.h
cords/firewall.c
cords/firewall.h
cords/firewall.xsd
cords/firewall_occi_filter.h
cords/guarantee.c
cords/guarantee.h
cords/guarantee.xsd
cords/guarantee_occi_filter.h
cords/gw.c
cords/gw.h
cords/gw.xsd
cords/gw_occi_filter.h
cords/image.c
cords/image.h
cords/image.xsd
cords/image_occi_filter.h
cords/import.c
cords/import.h
cords/import.xsd
cords/import_occi_filter.h
cords/infrastructure.c
cords/infrastructure.h
cords/infrastructure.xsd
cords/infrastructure_occi_filter.h
cords/instance.c
cords/instance.h
cords/instance.xsd
cords/instance_occi_filter.h
cords/instruction.c
cords/instruction.h
cords/instruction.xsd
cords/instruction_occi_filter.h
cords/intercloudGW.c
cords/intercloudGW.h
cords/intercloudGW.xsd
cords/intercloudGW_occi_filter.h
cords/interface.c
cords/interface.h
cords/interface.xsd
cords/interface_occi_filter.h
cords/invoice.c
cords/invoice.h
cords/invoice.xsd
cords/invoice_occi_filter.h
cords/ipaddress.c
cords/ipaddress.h
cords/ipaddress.xsd
cords/ipaddress_occi_filter.h
cords/iprange.c
cords/iprange.h
cords/iprange.xsd
cords/iprange_occi_filter.h
cords/linkgw.c
cords/linkgw.h
cords/linkgw.xsd
cords/linkgw_occi_filter.h
cords/manifest.c
cords/manifest.h
cords/manifest.xsd
cords/manifest_occi_filter.h
cords/metadata.c
cords/metadata.h
cords/metadata.xsd
cords/metadata_occi_filter.h
cords/metric.c
cords/metric.h
cords/metric.xsd
cords/metric_occi_filter.h
cords/monitor.c
cords/monitor.h
cords/monitor.xsd
cords/monitor_occi_filter.h
cords/network.c
cords/network.h
cords/network.xsd
cords/network_occi_filter.h
cords/node.c
cords/node.h
cords/node.xsd
cords/node_occi_filter.h
cords/occiaccount.c
cords/occiaction.c
cords/occiagency.c
cords/occiagreement.c
cords/occialert.c
cords/occialgorithm.c
cords/occiamazonEc2.c
cords/occiappliance.c
cords/occiapplication.c
cords/occiauthorise.c
cords/occiazconfig.c
cords/occibusiness.c
cords/occicarrier.c
cords/occicompute.c
cords/occiconfiguration.c
cords/occiconnection.c
cords/occiconstraint.c
cords/occiconsumer.c
cords/occicontract.c
cords/occicontrol.c
cords/occideltacloud.c
cords/occidomain.c
cords/occiec2config.c
cords/occienquiry.c
cords/occievent.c
cords/occifile.c
cords/occifirewall.c
cords/occiguarantee.c
cords/occigw.c
cords/occiimage.c
cords/occiimport.c
cords/occiinfrastructure.c
cords/occiinstance.c
cords/occiinstruction.c
cords/occiintercloudGW.c
cords/occiinterface.c
cords/occiinvoice.c
cords/occiipaddress.c
cords/occiiprange.c
cords/occilinkgw.c
cords/occimanifest.c
cords/occimetadata.c
cords/occimetric.c
cords/occimonitor.c
cords/occinetwork.c
cords/occinode.c
cords/occionconfig.c
cords/occiopennebula.c
cords/occiopenstack.c
cords/occioperator.c
cords/occioptimise.c
cords/occiosconfig.c
cords/occipackage.c
cords/occipacket.c
cords/occipaconfig.c
cords/occiparameter.c
cords/occipenalty.c
cords/occiplacement.c
cords/occiplan.c
cords/occiport.c
cords/occiprice.c
cords/occiprobe.c
cords/occiprofile.c
cords/occiprovider.c
cords/occipublication.c
cords/occiquota.c
cords/occirelease.c
cords/occireport.c
cords/occirequirement.c
cords/occiresult.c
cords/occiscript.c
cords/occisecurity.c
cords/occiservice.c
cords/occisession.c
cords/occistorage.c
cords/occistream.c
cords/occisystem.c
cords/occitarif.c
cords/occiterm.c
cords/occiterms.c
cords/occitransaction.c
cords/occiuser.c
cords/occivalue.c
cords/occivariable.c
cords/occivm.c
cords/occivolume.c
cords/occiwindowsazure.c
cords/occixlink.c
cords/occizone.c
cords/onconfig.c
cords/onconfig.h
cords/onconfig.xsd
cords/onconfig_occi_filter.h
cords/opennebula.c
cords/opennebula.h
cords/opennebula.xsd
cords/opennebula_occi_filter.h
cords/openstack.c
cords/openstack.h
cords/openstack.xsd
cords/openstack_occi_filter.h
cords/operator.c
cords/operator.h
cords/operator.xsd
cords/operator_occi_filter.h
cords/optimise.c
cords/optimise.h
cords/optimise.xsd
cords/optimise_occi_filter.h
cords/osconfig.c
cords/osconfig.h
cords/osconfig.xsd
cords/osconfig_occi_filter.h
cords/package.c
cords/package.h
cords/package.xsd
cords/package_occi_filter.h
cords/packet.c
cords/packet.h
cords/packet.xsd
cords/packet_occi_filter.h
cords/paconfig.c
cords/paconfig.h
cords/paconfig.xsd
cords/paconfig_occi_filter.h
cords/parameter.c
cords/parameter.h
cords/parameter.xsd
cords/parameter_occi_filter.h
cords/penalty.c
cords/penalty.h
cords/penalty.xsd
cords/penalty_occi_filter.h
cords/placement.c
cords/placement.h
cords/placement.xsd
cords/placement_occi_filter.h
cords/plan.c
cords/plan.h
cords/plan.xsd
cords/plan_occi_filter.h
cords/port.c
cords/port.h
cords/port.xsd
cords/port_occi_filter.h
cords/price.c
cords/price.h
cords/price.xsd
cords/price_occi_filter.h
cords/probe.c
cords/probe.h
cords/probe.xsd
cords/probe_occi_filter.h
cords/profile.c
cords/profile.h
cords/profile.xsd
cords/profile_occi_filter.h
cords/provider.c
cords/provider.h
cords/provider.xsd
cords/provider_occi_filter.h
cords/publication.c
cords/publication.h
cords/publication.xsd
cords/publication_occi_filter.h
cords/quota.c
cords/quota.h
cords/quota.xsd
cords/quota_occi_filter.h
cords/release.c
cords/release.h
cords/release.xsd
cords/release_occi_filter.h
cords/report.c
cords/report.h
cords/report.xsd
cords/report_occi_filter.h
cords/requirement.c
cords/requirement.h
cords/requirement.xsd
cords/requirement_occi_filter.h
cords/result.c
cords/result.h
cords/result.xsd
cords/result_occi_filter.h
cords/script.c
cords/script.h
cords/script.xsd
cords/script_occi_filter.h
cords/security.c
cords/security.h
cords/security.xsd
cords/security_occi_filter.h
cords/service.c
cords/service.h
cords/service.xsd
cords/service_occi_filter.h
cords/session.c
cords/session.h
cords/session.xsd
cords/session_occi_filter.h
cords/storage.c
cords/storage.h
cords/storage.xsd
cords/storage_occi_filter.h
cords/stream.c
cords/stream.h
cords/stream.xsd
cords/stream_occi_filter.h
cords/system.c
cords/system.h
cords/system.xsd
cords/system_occi_filter.h
cords/tarif.c
cords/tarif.h
cords/tarif.xsd
cords/tarif_occi_filter.h
cords/term.c
cords/term.h
cords/term.xsd
cords/term_occi_filter.h
cords/terms.c
cords/terms.h
cords/terms.xsd
cords/terms_occi_filter.h
cords/transaction.c
cords/transaction.h
cords/transaction.xsd
cords/transaction_occi_filter.h
cords/user.c
cords/user.h
cords/user.xsd
cords/user_occi_filter.h
cords/value.c
cords/value.h
cords/value.xsd
cords/value_occi_filter.h
cords/variable.c
cords/variable.h
cords/variable.xsd
cords/variable_occi_filter.h
cords/vm.c
cords/vm.h
cords/vm.xsd
cords/vm_occi_filter.h
cords/volume.c
cords/volume.h
cords/volume.xsd
cords/volume_occi_filter.h
cords/windowsazure.c
cords/windowsazure.h
cords/windowsazure.xsd
cords/windowsazure_occi_filter.h
cords/xlink.c
cords/xlink.h
cords/xlink_occi_filter.h
cords/zone.c
cords/zone.h
cords/zone.xsd
cords/zone_occi_filter.h
cords_publication.xml
cors-bak.diff
cosacs/cosacs
cosched/cosched
cosched/counter.c
cosched/counter.h
cosched/counter.xsd
cosched/counter_occi_filter.h
cosched/occicounter.c
cosched/occischedule.c
cosched/occitimer.c
cosched/schedule.c
cosched/schedule.h
cosched/schedule.xsd
cosched/schedule_occi_filter.h
cosched/timer.c
cosched/timer.h
cosched/timer.xsd
cosched/timer_occi_filter.h
coss/coss
dcprocci/dcconfig.c
dcprocci/dcconfig.h
dcprocci/dcconfig.xsd
dcprocci/dcconfig_occi_filter.h
dcprocci/dcprocci
dcprocci/deltacloud.c
dcprocci/deltacloud.h
dcprocci/deltacloud.xsd
dcprocci/deltacloud_occi_filter.h
dcprocci/occidcconfig.c
dcprocci/occideltacloud.c
dummyprocci/dummy.c
dummyprocci/dummy.h
dummyprocci/dummy.xsd
dummyprocci/dummy_occi_filter.h
dummyprocci/dummyconfig.c
dummyprocci/dummyconfig.h
dummyprocci/dummyconfig.xsd
dummyprocci/dummyconfig_occi_filter.h
dummyprocci/dummyprocci
dummyprocci/occidummy.c
dummyprocci/occidummyconfig.c
easigsm/easigsm
easigsm/gsm_agreement.c
easigsm/gsm_agreement.h
easigsm/gsm_agreement.xsd
easigsm/gsm_instance.c
easigsm/gsm_instance.h
easigsm/gsm_instance.xsd
easigsm/gsm_template.c
easigsm/gsm_template.h
easigsm/gsm_template.xsd
easigsm/occigsm_agreement.c
easigsm/occigsm_instance.c
easigsm/occigsm_template.c
example/example
example/exampleprocci.c
example/exampleprocci.h
example/exampleprocci.xsd
example/exampleprocci_occi_filter.h
example/occiexampleprocci.c
eziprocci/easiclouds.c
eziprocci/easiclouds.h
eziprocci/easiclouds.xsd
eziprocci/easiclouds_occi_filter.h
eziprocci/eziconfig.c
eziprocci/eziconfig.h
eziprocci/eziconfig.xsd
eziprocci/eziconfig_occi_filter.h
eziprocci/eziprocci
eziprocci/occieasiclouds.c
eziprocci/occieziconfig.c
ezvm/ezvm
fileserver/fileserver
oaprocci/oaconfig.c
oaprocci/oaconfig.h
oaprocci/oaconfig.xsd
oaprocci/oaconfig_occi_filter.h
oaprocci/oaprocci
oaprocci/occioaconfig.c
oaprocci/occionapp.c
oaprocci/occionapp_extras.c
oaprocci/onapp.c
oaprocci/onapp.h
oaprocci/onapp.xsd
oaprocci/onapp_extras.c
oaprocci/onapp_extras.h
oaprocci/onapp_extras.xsd
oaprocci/onapp_extras_occi_filter.h
oaprocci/onapp_occi_filter.h
onprocci/occiopennebula.c
onprocci/onprocci
onprocci/opennebula.c
onprocci/opennebula.h
onprocci/opennebula.xsd
onprocci/opennebula_occi_filter.h
orgabas/orgabas
osocciprocci/osocciprocci
osprocci/occiopenstack.c
osprocci/openstack.c
osprocci/openstack.h
osprocci/openstack.xsd
osprocci/openstack_occi_filter.h
osprocci/osprocci
paasprocci/occipaas.c
paasprocci/occipaasconfig.c
paasprocci/paas.c
paasprocci/paas.h
paasprocci/paas.xsd
paasprocci/paas_occi_filter.h
paasprocci/paasconfig.c
paasprocci/paasconfig.h
paasprocci/paasconfig.xsd
paasprocci/paasconfig_occi_filter.h
paasprocci/paasprocci
parser/parser
procci/procci
publisher/publisher
scripts/co-log
scripts/cords_agreement.xml
scripts/cords_authorization.xml
scripts/cords_consumer.xml
scripts/cords_price.xml
scripts/cords_provider.xml
scripts/cords_publication.xml
scripts/cords_quota.xml
scripts/cords_term.xml
scripts/cords_terms.xml
scripts/cords_variable.xml
scripts/links_broker.xml
scripts/links_slam.xml
scripts/plan_quota-azprocci.xml
scripts/plan_quota-cnprocci.xml
scripts/plan_quota-dcprocci.xml
scripts/plan_quota-dummyprocci.xml
scripts/plan_quota-ec2procci.xml
scripts/plan_quota-eziprocci.xml
scripts/plan_quota-oaprocci.xml
scripts/plan_quota-onprocci.xml
scripts/plan_quota-osocciprocci.xml
scripts/plan_quota-osprocci.xml
scripts/plan_quota-paasprocci.xml
scripts/plan_quota-paprocci.xml
scripts/plan_sla-azprocci.xml
scripts/plan_sla-cnprocci.xml
scripts/plan_sla-dcprocci.xml
scripts/plan_sla-dummyprocci.xml
scripts/plan_sla-ec2procci.xml
scripts/plan_sla-eziprocci.xml
scripts/plan_sla-oaprocci.xml
scripts/plan_sla-onprocci.xml
scripts/plan_sla-osocciprocci.xml
scripts/plan_sla-osprocci.xml
scripts/plan_sla-paasprocci.xml
scripts/plan_sla-paprocci.xml
scripts/ports.xml
scripts/quota-azprocci.xml
scripts/quota-cnprocci.xml
scripts/quota-dcprocci.xml
scripts/quota-dummyprocci.xml
scripts/quota-ec2procci.xml
scripts/quota-eziprocci.xml
scripts/quota-oaprocci.xml
scripts/quota-onprocci.xml
scripts/quota-osocciprocci.xml
scripts/quota-osprocci.xml
scripts/quota-paasprocci.xml
scripts/quota-paprocci.xml
scripts/rest/
scripts/sla-azprocci.xml
scripts/sla-cnprocci.xml
scripts/sla-dcprocci.xml
scripts/sla-dummyprocci.xml
scripts/sla-ec2procci.xml
scripts/sla-eziprocci.xml
scripts/sla-oaprocci.xml
scripts/sla-onprocci.xml
scripts/sla-osocciprocci.xml
scripts/sla-osprocci.xml
scripts/sla-paasprocci.xml
scripts/sla-paprocci.xml
slam/slam
test
test.c
testaz/testaz
testcb/testcb
testcn/testcn
testcp/testcp
testdc/testdc
testhdfs/testhdfs
testocci/testocci
teston/teston
testos/testos
testosocci/testosocci
testresolver/testresolver
testrest/testrest
tools/strukt/_license.h
tools/strukt/_strukt_wrapper
tools/strukt/strukt
cords/endpoint.c
cords/endpoint.h
cords/endpoint.xsd
cords/endpoint_occi_filter.h
cords/occiendpoint.c
tags
cords/activity.c
cords/activity.h
cords/activity.xsd
cords/activity_occi_filter.h
cords/occiactivity.c
easigsm/ecslam_agreement.c
easigsm/ecslam_agreement.h
easigsm/ecslam_agreement.xsd
easigsm/ecslam_agreement_occi_filter.h
easigsm/ecslam_negotiation.c
easigsm/ecslam_negotiation.h
easigsm/ecslam_negotiation.xsd
easigsm/ecslam_negotiation_occi_filter.h
easigsm/ecslam_serviceTemplate.c
easigsm/ecslam_serviceTemplate.h
easigsm/ecslam_serviceTemplate.xsd
easigsm/ecslam_serviceTemplate_occi_filter.h
easigsm/occiecslam_agreement.c
easigsm/occiecslam_negotiation.c
easigsm/occiecslam_serviceTemplate.c
testorga/testorga
