aclocal.m4
config.guess
config.sub
depcomp
install-sh
libtool
ltmain.sh
missing
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/libtool.m4
Makefile
Makefile.in
azprocci/Makefile.in
azprocci/src/Makefile.in
broker/Makefile.in
broker/src/Makefile.in
coes/Makefile.in
coes/src/Makefile.in
comons/Makefile.in
comons/src/Makefile.in
conets/Makefile.in
conets/src/Makefile.in
coobas/Makefile.in
coobas/src/Makefile.in
fileserver/Makefile.in
fileserver/src/Makefile.in
onprocci/Makefile.in
onprocci/src/Makefile.in
osprocci/Makefile.in
osprocci/src/Makefile.in
parser/Makefile.in
parser/src/Makefile.in
procci/Makefile.in
procci/src/Makefile.in
publisher/Makefile.in
publisher/src/Makefile.in
testaz/Makefile.in
testaz/src/Makefile.in
testcb/Makefile.in
testcb/src/Makefile.in
testcp/Makefile.in
testcp/src/Makefile.in
teston/Makefile.in
teston/src/Makefile.in
testos/Makefile.in
testos/src/Makefile.in
testresolver/Makefile.in
testresolver/src/Makefile.in
.deps
.libs
*.lo
*.la
*~
*.log
*.status
*.cache
*.o
Makefile
configure
*.scan
*.tgz
product/
*.bak
*.loT
azprocci/src/azprocci
broker/src/broker
coes/src/coes
comons/src/comons
conets/src/conets
coobas/src/coobas
coss/src/coss
fileserver/src/fileserver
onprocci/src/onprocci
osprocci/src/osprocci
parser/src/parser
procci/src/procci
publisher/src/publisher
testaz/src/testaz
testcb/src/testcb
testcp/src/testcp
teston/src/teston
testos/src/testos
testresolver/src/testresolver
