aclocal.m4
config.guess
config.sub
depcomp
install-sh
libtool
ltmain.sh
missing
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/libtool.m4
*Makefile
*Makefile.in
.deps
.libs
*.lo
*.la
*~
*.log
*.status
*.cache
*.o
Makefile
configure
*.scan
*.tgz
product/
*.bak

