.at
{ 
	border-width: 0px; padding: 0px; margin: 0px; 
}

.atd  
{ 
	width: 80px; border-width: 0px; padding: 0px; margin: 0px; 
}

.ath  
{ 
	width: 80px; border-width: 0px; background-color: grey; padding: 0px; margin: 0px; 
}

.atr  
{ 
	border-width: 0px; padding: 0px; margin: 0px; 
}

.nb 
{ 
	border-style: none; 
}

.b  
{ 
	background-color: grey; border-style: solid; 
}

