table 	{
	width: 80%;
	border-style: none;
	}

th 	{
	background-color: #EEFFEE;
	color: #004400;
	padding: 2mm;
	border-style: solid;
	border-color: #003300;
	border-width: 1px;
	}

.input 	{
	border-width: 1px;
	border-style: solid;
	width: 14cm;
	}
.button	{
	border-width: 1px;
	background-color: #DDFFDD;
	border-style: outset;
	width: 30mm;
	}
.action	{
	border-width: 1px;
	background-color: #DDFFDD;
	border-style: outset;
	width: 8cm;
	}

td 	{
	padding: 2mm;
	background-color: #F6FFF6;
	border-style: none;
	width: 70%;
	}

.title {
	font-size: 18pt;
	}

.header {
	font-size: 16pt;

	}

.description {
	font-size: 12pt;
	padding: 5mm;
	border-style: dotted;
	border-color: #008800;
	}


