table 	{
	width: 80%;
	border-style: none;
	}

th 	{
	background-color: #EEFFFF;
	color: #004444;
	padding: 2mm;
	border-style: solid;
	border-color: #003333;
	border-width: 1px;
	}

input 	{
	border-width: 1px;
	border-style: solid;
	width: 14cm;
	}
td {
	padding: 2mm;
	background-color: #F6FFFF;
	border-style: none;
	width: 70%;
	}

.action	{
	background-color: #EEFFFF;
	color: #004444;
	padding: 2mm;
	border-style: double;
	border-color: #003333;
	border-width: 1px;
	text-align: center;
	text-color: green;
	margin: 1mm;
	}

.title 	{
	font-size: 18pt;
	}

.header {
	font-size: 16pt;

	}

.description {
	font-size: 12pt;
	padding: 5mm;
	border-style: dotted;
	border-color: #008888;
	}


