#!/usr/bin/make -f
# (C) CityPassenger / Vincent Renardias <vrenardias@citypassenger.com>

# To rebuild from source, run "dpkg-buildpackage -b -rfakeroot" from the
# main directory.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DH_OPTIONS

DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

# WARNING: MAKE SURE /usr/bin/javac POINTS TO SUN'S JDK (NOT OPENJDK)
JAVA_HOME ?= $(shell readlink -f /usr/bin/javac | sed "s:/bin/javac::")

#CFLAGS = -Wall -g
#ifeq (Debian,$(shell lsb_release -s -i))
#LDFLAGS=
#else
#LDFLAGS="-Wl,-z,defs"
#endif

#ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0 -g
#else
#	CFLAGS += -O2
#endif

configure:
	./autogen.sh

config.status: configure
	dh_testdir
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif
	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
		--enable-paprocci=$(JAVA_HOME) \
		--enable-pyaccords \
		--enable-testsuite \
		--prefix=/usr --sysconfdir=/etc --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info --libexecdir=\$${prefix}/lib \
		CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)"

build: build-stamp
build-stamp: config.status
	dh_testdir
	$(MAKE)
	# cd ./manifests && ./make-all
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp #CONFIGURE-STAMP#
	-$(MAKE) distclean
	rm -f config.{sub,guess,status,log}
	# cd manifests && ./make-clean
	dh_prep
	rm -f debian/*.log debian/files
	./clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	make DESTDIR=`pwd`/debian/tmp install
	sed -e 's@/usr/local/nagios/etc/nagios.cfg@/etc/nagios3/nagios.cfg@g' < `pwd`/debian/tmp/usr/bin/accords > `pwd`/debian/tmp/usr/bin/accords.tmp
	mv `pwd`/debian/tmp/usr/bin/accords.tmp `pwd`/debian/tmp/usr/bin/accords
	mkdir -p `pwd`/debian/tmp/etc/default/ `pwd`/debian/tmp/etc/accords/ `pwd`/debian/tmp/usr/share/doc/accords
	cp *.xsd `pwd`/debian/tmp/usr/share/doc/accords
	cp manifests/openssl.cnf `pwd`/debian/tmp/etc/accords/
	cp manifests/os_config.xml `pwd`/debian/tmp/etc/accords/
	cp paprocci/pa_config.xml `pwd`/debian/tmp/etc/accords/
	cp manifests/on_config.xml `pwd`/debian/tmp/etc/accords/
	cp accounts.xml `pwd`/debian/tmp/etc/accords/
	cp Certificates.crt `pwd`/debian/tmp/etc/accords/
	cp coips.xml `pwd`/debian/tmp/etc/accords
	cd debian/tmp/etc/accords && chmod 600 Certificates.crt coips.xml cords_user.xml openssl.cnf *_config.xml
# Build architecture independant packages.

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs -i
	dh_installdocs -i
	dh_install -i --sourcedir=$(CURDIR)/debian/tmp
	dh_installdirs -i
	dh_installinit -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture dependant packages.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs -a
	dh_installdocs -a
	dh_installexamples -a
	dh_install -a --sourcedir=$(CURDIR)/debian/tmp
	dh_installdirs -a
	dh_installinit -a
	dh_installmenu -a
	dh_installman -a
	dh_link -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-arch binary-indep

.PHONY: install build clean binary-indep binary-arch binary

